<!DOCTYPE html>
<html>
  <h4 style="margin-top: 15px">{{ nombre }}</h4>
  <h5>Detalles de artista</h5>
  
  <form>
    <div class="row">
      <div class="six columns">
         <label for="idInput">ID</label>
         <input class="u-full-width" id="_id" type="text" value="{{ _id }}" readonly/>
      </div>
      <div class="six columns">
         <label for="nationalityInput">Origen</label>
         <input class="u-full-width" id="origen" type="text" value="{{ origen }}" readonly/>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
         <label for="birthInput">Fecha nacimiento</label>
         <input class="u-full-width" id="fecha_nacimiento" type="text" value="{{ fecha_nacimiento }}"  readonly/>
      </div>
      <div class="six columns">
         <label for="fieldsInput">Defuncion</label>
         <input class="u-full-width" id="fallecimiento" type="text" value="{{ fallecimiento }}"  readonly/>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
         <label for="birthInput">Fecha nacimiento</label>
         <input class="u-full-width" id="fecha_nacimiento" type="text" value="{{ fecha_nacimiento }}"  readonly/>
      </div>
      <div class="six columns">
         <label for="fieldsInput">Instumentos</label>
         <input class="u-full-width" id="instrumentos" type="text" value="{{ instrumentos }}"  readonly/>
      </div>
    </div>
  </form>
  
  <h5>Albums</h5>
  <ul>
  {{#albums}}
    <li><a href="https://books-minisite.netlify.app/get?id={{album._id}}">{{nombre}}</li>
  {{/albums}}
  </ul>
</html>
